@model ContactModelView

<div class="row">
    <div class="col-md-6">
        <h2>Call</h2>
        <h3>@ViewBag.Message</h3>
        <div class="row">
            @{
                await Html.RenderPartialAsync("_CallForm", new CallModelView { CallerId = Model == null ? Guid.Empty : Model.Id });
            }
        </div>
        <div class="form-group">
            <h2>Contact info</h2>
            <form asp-controller="Contacts" asp-action="Edit" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div>
                    <label asp-for="DisplayName"></label>
                    <input asp-for="DisplayName">
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <input class="link-button btn btn-primary" type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <h2>Planing Conference</h2>
            @if (Model != null && Model.Conferences != null && Model.Conferences.Count > 0)
            {
                foreach (var item in Model.Conferences)
                {
                    <p><a asp-controller="Conferences" asp-action="Edit" asp-route-Id="@item.ConferenceId">Active conference for theese date @item.DateConference.ToShortDateString()</a></p>
                }
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="form-group">
                <h2>Calling History</h2>
                @if (Model != null && Model.CallingHistory != null)
                {
                    @if (Model.CallingHistory != null)
                    {
                        await Html.RenderPartialAsync("_DetailCallingHistory", Model.CallingHistory);
                    }
                }
                <a class="btn-outline-primary" asp-controller="Contacts" asp-action="GetDetailBilling" asp-route-Id="@Model.Id">Watch Detail in range</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}